@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply m-0 p-0  box-border;
  font-family: "Be Vietnam Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @apply m-0 p-0;
}
/* typography */

/* heading */
.h1 {
  @apply font-medium text-6xl !leading-[78px] tracking-[-1.2px];
}
.h2 {
  @apply font-medium text-[42px] leading-[56px] font-normal tracking-[-0.72px];
}
.h3 {
  @apply font-medium text-[38px] leading-[48px] tracking-[-0.72px];
}
.h3 {
  @apply text-[38px] leading-[48px] font-medium tracking-[-0.48px];
}
.h4 {
  @apply text-[32px] leading-[42px] font-medium tracking-[-0.48px];
}
.h5 {
  @apply text-[25px] leading-[32px] font-medium tracking-[-0.48px];
}
.h6 {
  @apply text-[20px] leading-[28px] font-medium tracking-[-0.16px];
}

/*paragraphs*/
.p-xxsmall {
  @apply text-[7.786px] leading-[10.01px] font-normal tracking-[0.1px];
}
.p-xsmall {
  @apply text-[8.898px] leading-[11.122px] font-normal tracking-[0.1px];
}
.p-small {
  @apply text-[12px] leading-[16px] font-normal tracking-[0.1px];
}

.p-medium {
  @apply text-[14px] leading-[18px] font-normal;
}

.p-large {
  @apply text-[16px] leading-[24px] font-normal tracking-[-0.16px];
}

/* comman */

.margin-y {
  @apply mb-[112px] md:mb-[164px];
}

/* chart */
.charts {
  @apply mt-4 bg-white;
}

.charts .highcharts-axis-title,
.highcharts-no-tooltip,
.highcharts-credits {
  @apply !hidden;
}
.charts,
.highcharts-root,
.highcharts-container,
.highcharts-background {
  @apply !h-[358px] rounded-2xl;
}
.charts .highcharts-container {
  @apply pt-5 pb-0 pr-5 pl-0;
}
.charts .highcharts-xaxis .highcharts-tick {
  stroke-width: 2px;
  stroke: #e0e9fa;
}
.charts .highcharts-xaxis .highcharts-axis-line {
  stroke-width: 2px;
  stroke: #e0e9fa;
}
.charts .highcharts-axis-labels text {
  fill: #909090 !important;

  @apply font-normal !text-[14px] leading-[18px];
}
.charts .highcharts-tracker-line {
  stroke-width: 2px;
  stroke: #2f67dd;
}
